/CarsDatabase/nbproject/private/
/CarsDatabase/dist/
/CarsDatabase/build/
/BinaryCalculator/nbproject/private/
/BinaryCalculator/dist/
/BinaryCalculator/build/
/Calculator/nbproject/private/
/SimpleCalculator/nbproject/private/
/SimpleCalculator/build/
/SimpleCalculator/dist/